@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Professor do Pedro Fonseca";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Pagina do Professor</h1>

    <h2>@ViewBag.nota</h2>
    <h3>@ViewData["Escola"]</h3><br/>

    <h3>Meu nome é @ViewData["nome"] @ViewData["sobrenome"]</h3>
    <h4>Sou professsor com objetivo de tranformar meus alunos em um programador fullstalk</h4><br />
    
    <section>
        <h2>Veja o conteudo que te ensino</h2>
        <ol>
            <details>
                <summary>Clique aqui para ver o material</summary>
            <li>HTML</li>
            <li>css</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>git/github</li>
            </details>
        </ol>
    </section>

</body>
</html>
